In [14]:
import pandas as pd
from math import sin, cos, sqrt, atan2, radians

In [15]:
def ast_compute_distance(lat1, lon1, lat2, lon2):
    """
        find distance between 2 lat and 2 long 
    """
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance *1000

In [16]:
my_data = [('monumen nasional', -6.1756647,106.8230273, 'dufan ancol', -6.1253071,106.8309628)] 
my_columns = ['poi1', 'lat1', 'lon1', 'poi2', 'lat2', 'lon2', ]

df_loc = pd.DataFrame(my_data, columns=my_columns)

In [17]:
df_loc

               poi1      lat1        lon1         poi2      lat2        lon2
0  monumen nasional -6.175665  106.823027  dufan ancol -6.125307  106.830963

In [18]:
df_loc['distance'] = df_loc.apply(lambda x: ast_compute_distance(x['lat1'], x['lon1'], x['lat2'], x['lon2']), axis = 1)

In [19]:
df_loc

,poi1,lat1,lon1,poi2,lat2,lon2,distance
0,monumen nasional,-6.175665,106.823027,dufan ancol,-6.125307,106.830963,5669.598758